<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBmbJkK7BUpkyHSfM9Cv4iyvhkYNLxfCHw</string>
	<key>GCM_SENDER_ID</key>
	<string>536803529638</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.haeMo</string>
	<key>PROJECT_ID</key>
	<string>haemo-c394a</string>
	<key>STORAGE_BUCKET</key>
	<string>haemo-c394a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:536803529638:ios:fce4a112b9dca8316bf567</string>
	<key>DATABASE_URL</key>
	<string>https://haemo-c394a-default-rtdb.firebaseio.com</string>
</dict>
</plist>